.mainContent {
  display: grid;
  grid-template-areas:
    'sectionOne .'
    '. sectionTwo';
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 90vw;
  padding: 10rem 1rem 10rem 3rem;
  column-gap: 2vw;
  overflow: hidden;

  h2 {
    color: var(--text-color);
    margin-bottom: 0.5rem;
  }
}

.sectionContainer {
  padding: 0.6rem 0rem 0.6rem 0rem;
  position: relative;
  overflow: hidden;

  .cardLineOnLeft {
    height: 94%;
    top: 3%;
    width: 1px;
    left: 25%;
    &::after {
      animation-duration: 5s;
      animation-delay: 1.5s;
    }
  }
  .cardLineOnRight {
    height: 94%;
    top: 3%;
    width: 1px;
    right: 0%;
    &::after {
      animation-duration: 5s;
      animation-delay: 1.5s;
    }
  }
}

.projectCard {
  display: grid;
  height: 100%;
  background-color: var(--secondary-background-color);
  border-radius: 2px;
  padding: 1rem;

  .cardTitle {
    justify-self: center;
    border-radius: 3px;
    background-color: var(--background-color);
    grid-area: title;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    width: 75%;
    padding: 0.5rem;
    text-align: center;
  }
  .projectImageWrapper {
    grid-area: image;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 1rem;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;

    .projectImage {
      width: 100%;
      max-width: 500px;
      min-width: 200px;
      height: auto;
      border-radius: 5px;
    }
  }
  .textContent {
    background-color: var(--background-color);
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    grid-area: description;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .cardLinks {
    justify-self: center;
    grid-area: links;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--heighlight-color);
  }
}

.leftSideCard {
  grid-template-areas:
    'title .'
    'image description'
    'image description'
    'links description';
  .cardLinks {
    justify-self: flex-start;
  }
  box-shadow: -2px 2px 3px -1px var(--shadow-color);
}
.rightSideCard {
  grid-template-areas:
    '. title'
    'description image'
    'description image'
    'description links';

  .cardLinks {
    justify-self: flex-end;
  }
  box-shadow: 2px 2px 3px -1px var(--shadow-color);
}
.sectionOne {
  box-shadow: 12px 0px 3px -11px var(--glow-color);
  border-radius: 5px;
  grid-area: sectionOne;
  animation-delay: 0s;
  animation-duration: 1s;
}
.sectionTwo {
  box-shadow: -12px 0px 3px -11px var(--glow-color);
  grid-area: sectionTwo;
  margin-top: -15rem;
  animation-delay: 0.5s;
  animation-duration: 1s;
}

.cardOne {
  animation-delay: 1s;
}
.cardTwo {
  animation-delay: 1.5s;
}

.firstCardLineOnRight {
  animation-duration: 2s;
  animation-delay: 1s;
}
.firstCardLineOnLeft {
  animation-duration: 2s;
  animation-delay: 1s;
}

@media (max-width: 1050px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 2rem;
    padding-left: 4rem;
  }

  .sectionTwo {
    margin-top: 3rem;
  }
}

@media (max-width: 768px), (max-height: 480px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem 1rem 0rem 1rem;
  }
  .sectionContainer {
    padding: 0rem;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0px 11px 10px -11px var(--glow-color);
  }
  .projectCard {
    grid-template-areas:
      ' title title'
      'image image'
      'description description'
      'links links';

    .cardTitle {
      width: 100%;
    }

    .textContent {
      padding: 0.5rem 1rem;
    }
    .cardLinks {
      justify-self: center;
    }
    animation-delay: 0s;
  }
  .cardLineOnLeft {
    display: none;
  }
  .cardLineOnRight {
    display: none;
  }

  .sectionTwo {
    margin-top: 3rem;
  }
}
