@import url('https://fonts.googleapis.com/css2?family=Comfortaa');
:root {
  /* --primary-red: #c70606; */
  /* --primary-red: #940909; */
  /* --primary-red: #6e0606; */
  --primary-red: #aa0808;
  --secondary-red: #5c0505;
  --primary-white: #f8f8f8;
  --primary-black: #272222;
  --primary-offwhite: #dcd9d9;
  --primary-grey: #a29797;
  --primary-porcelain: #dddcdb;
  --secondary-porcelain: #dbd4cd;

  --background-color: var(--primary-white);
  --text-color: var(--primary-black);
  --text-color-invert: var(--primary-offwhite);
  --text-color-major: var(--primary-red);
  --heighlight-color: var(--primary-red);
  --border-color: var(--primary-grey);
  --border-color-invert: var(--primary-red);
  --glow-color: var(--primary-black);
  --content-fill-color: var(--primary-grey);

  --bar-width: 40px;
  --bar-height: 4px;
  --bar-gap: 6px;
  --bar-margin: 10px;
  --bar-animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
  --square-root-2: 1.41421356237;

  font-family: 'Comfortaa', Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: color 0.5s ease, background-color 0.5s ease;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'header main footer';
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  transition: color 0.5s ease, background-color 0.5s ease;
}

.dark {
  --background-color: var(--primary-black);
  --text-color: var(--primary-white);
  --text-color-invert: var(--primary-black);
  --text-color-major: var(--primary-red);
  --heighlight-color: var(--primary-red);
  --border-color: var(--primary-grey);
  --border-color-invert: var(--primary-red);
  --glow-color: var(--primary-white);
  --content-fill-color: var(--primary-grey);
}

header {
  grid-area: header;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0rem 55vh 0rem;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  z-index: 1;
  transition: color 0.5s ease, background-color 0.5s ease;

  box-shadow: none;
  animation-name: headerGrow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.footerWrapper {
  grid-area: footer;
  background-color: var(--background-color);
  padding: 0;
  padding-top: 80vh;
  box-shadow: none;
  animation-name: footerGrow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  align-self: flex-start;
  transition: color 0.5s ease, background-color 0.5s ease;
}
@keyframes headerGrow {
  from {
    box-shadow: 0px 2000px 5px 1px var(--glow-color);
  }
  to {
    box-shadow: 0px 20px 5px 1px var(--glow-color);
  }
}

@keyframes footerGrow {
  from {
    box-shadow: 0px -2000px 5px 1px var(--glow-color);
  }
  to {
    box-shadow: 0px -20px 5px 1px var(--glow-color);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
}

/* mobile & tablet styling */
@media (max-width: 768px), (max-height: 480px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header' 'main';
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
    z-index: 1;
    box-shadow: none;
    animation: none;
  }

  .footerWrapper {
    display: none;
  }
}

/* start implementation of the dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--primary-black);
    --text-color: var(--primary-white);
    --text-color-invert: var(--primary-black);
    --text-color-major: var(--primary-red);
    --heighlight-color: var(--primary-red);
    --border-color: var(--primary-grey);
    --border-color-invert: var(--primary-red);
    --glow-color: var(--primary-white);
    --content-fill-color: var(--primary-grey);
  }
}

/* Disable all animations */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
