@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Jost');
:root {
  /* --primary-red: #c70606; */
  /* --primary-red: #940909; */
  /* --primary-red: #6e0606; */
  --primary-red: #aa0808;
  --secondary-red: #5c0505;
  --primary-white: #f8f8f8;
  --primary-black: #272222;
  --secondary-black: #312828;
  --primary-offwhite: #dcd9d9;
  --primary-grey: #a29797;
  --primary-porcelain: #dddcdb;
  --secondary-porcelain: #dbd4cd;
  --dark-mode-shadow-color: #201b1b;
  --light-mode-shadow-color: #b3aeae;

  --background-color: var(--primary-white);
  --secondary-background-color: var(--primary-porcelain);
  --text-color: var(--primary-black);
  --text-color-invert: var(--primary-offwhite);
  --text-color-major: var(--primary-red);
  --heighlight-color: var(--primary-red);
  --border-color: var(--primary-grey);
  --border-color-invert: var(--primary-red);
  --glow-color: var(--primary-black);
  --shadow-color: var(--light-mode-shadow-color);
  --line-trace-color: var(--primary-grey);
  --content-fill-color: var(--primary-grey);

  --bar-width: 40px;
  --bar-height: 4px;
  --bar-gap: 6px;
  --bar-margin: 10px;
  --bar-animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
  --square-root-2: 1.41421356237;

  font-family: 'Nunito', Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;

  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: color 0.3s ease, background-color 0.5s ease;
}

h1,
h2,
h3,
p {
  cursor: default;
}

html {
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'header main footer';
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  transition: color 0.5s ease, background-color 0.5s ease;
}

.dark-theme {
  --background-color: var(--primary-black);
  --secondary-background-color: var(--secondary-black);
  --text-color: var(--primary-white);
  --text-color-invert: var(--primary-black);
  --text-color-major: var(--primary-red);
  --heighlight-color: var(--primary-red);
  --border-color: var(--primary-red);
  --border-color-invert: var(--primary-red);
  --glow-color: var(--primary-red);
  --shadow-color: var(--dark-mode-shadow-color);
  --content-fill-color: var(--primary-grey);
}
.light-theme {
  --background-color: var(--primary-white);
  --secondary-background-color: var(--primary-porcelain);
  --text-color: var(--primary-black);
  --text-color-invert: var(--primary-offwhite);
  --text-color-major: var(--primary-red);
  --heighlight-color: var(--primary-red);
  --border-color: var(--primary-grey);
  --border-color-invert: var(--primary-red);
  --glow-color: var(--primary-black);
  --shadow-color: var(--light-mode-shadow-color);
  --content-fill-color: var(--primary-grey);
}

.headerWrapper {
  position: fixed;
  bottom: 0%;
}

header {
  grid-area: header;
  overflow: hidden;
  position: relative;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0rem 55vh 0rem;
  width: 100%;
  margin: 0;
  z-index: 1;
  transition: color 0.5s ease, background-color 0.5s ease;

  box-shadow: none;
  animation-name: headerGrow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.footerWrapper {
  grid-area: footer;
  position: fixed;
  top: 0%;
  right: 0%;
  padding: 0;
  padding-top: 70vh;
  box-shadow: none;
  overflow: hidden;
  animation-name: footerGrow;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  align-self: flex-start;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.verticalLine {
  position: absolute;
  width: 2px;
  height: 100%;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(
      to bottom,
      var(--background-color) 0%,
      var(--line-trace-color) 75%,
      var(--line-trace-color) 100%
    );
    animation-name: toBottom;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }

  &:nth-child(1) {
    margin-left: -25%;
    &::after {
      animation-delay: 2s;
    }
  }

  &:nth-child(3) {
    margin-left: 25%;
    &::after {
      animation-delay: 2.5s;
    }
  }
}

.horizontalLine {
  position: absolute;
  height: 2px;
  width: 100%;
  right: 0;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 5vw;
    top: 0;
    left: -50%;
    background: linear-gradient(
      to right,
      var(--background-color) 0%,

      var(--line-trace-color) 50%,

      var(--line-trace-color) 100%
    );
    animation-name: toRight;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.16, 0.85, 0.45, 1);
  }

  &:nth-child(1) {
    margin-top: -25%;
    &::after {
      animation-delay: 2s;
    }
  }

  &:nth-child(3) {
    margin-top: 25%;
    &::after {
      animation-delay: 2.5s;
    }
  }
}

.moveLineDown {
  &::after {
    animation-name: toBottom;
    animation-iteration-count: infinite;
  }
}

.moveLineUp {
  &::after {
    animation-name: toTop;
    animation-iteration-count: infinite;
    background: linear-gradient(
      to top,
      var(--background-color) 0%,
      var(--line-trace-color) 75%,
      var(--line-trace-color) 100%
    );
  }
}
.moveLineRight {
  &::after {
    animation-name: toRight;
    animation-iteration-count: infinite;
  }
}
.moveLineLeft {
  &::after {
    animation-name: toLeft;
    animation-iteration-count: infinite;
  }
}

.lineNav {
  top: 2%;
  right: -1%;
  &::after {
    animation-duration: 7s;
    animation-delay: 0.5s;
  }
}

.lineFoot {
  top: 0%;
  left: -1%;
  height: 98%;
  &::after {
    animation-duration: 7s;
    animation-delay: 1s;
  }
}

@keyframes toBottom {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
@keyframes toTop {
  0% {
    top: 110%;
  }
  100% {
    top: -50%;
  }
}
@keyframes toRight {
  0% {
    left: -50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes toLeft {
  0% {
    right: -50%;
  }
  100% {
    right: 110%;
  }
}

@keyframes headerGrow {
  from {
    box-shadow: 0px 2000px 5px 1px var(--glow-color);
  }
  to {
    box-shadow: 0px 20px 5px 1px var(--glow-color);
  }
}

@keyframes footerGrow {
  from {
    box-shadow: 0px -2000px 5px 1px var(--glow-color);
  }
  to {
    box-shadow: 0px -20px 5px 1px var(--glow-color);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
}

/* mobile & tablet styling */
@media (max-width: 768px), (max-height: 480px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'header' 'main';
  }
  .headerWrapper {
    position: relative;
  }
  header {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
    z-index: 1;
    box-shadow: none;
    animation: none;
  }

  .line {
    display: none;
  }

  .lineNav {
    display: none;
  }

  .footerWrapper {
    display: none;
  }
}

/* dark mode default -- Finish implementation*/
@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--primary-black);
    --secondary-background-color: var(--secondary-black);
    --text-color: var(--primary-white);
    --text-color-invert: var(--primary-black);
    --text-color-major: var(--primary-red);
    --heighlight-color: var(--primary-red);
    --border-color: var(--primary-red);
    --border-color-invert: var(--primary-red);
    --glow-color: var(--primary-red);
    --shadow-color: var(--dark-mode-shadow-color);
    --line-trace-color: var(--primary-red);
    --content-fill-color: var(--primary-grey);
  }

  body.light-theme {
    --background-color: var(--primary-white);
    --secondary-background-color: var(--primary-porcelain);
    --text-color: var(--primary-black);
    --text-color-invert: var(--primary-offwhite);
    --text-color-major: var(--primary-red);
    --heighlight-color: var(--primary-red);
    --border-color: var(--primary-grey);
    --border-color-invert: var(--primary-red);
    --glow-color: var(--primary-black);
    --shadow-color: var(--light-mode-shadow-color);
    --line-trace-color: var(--primary-grey);
    --content-fill-color: var(--primary-grey);
  }
}
@media (prefers-color-scheme: light) {
  body {
    --background-color: var(--primary-white);
    --secondary-background-color: var(--primary-porcelain);
    --text-color: var(--primary-black);
    --text-color-invert: var(--primary-offwhite);
    --text-color-major: var(--primary-red);
    --heighlight-color: var(--primary-red);
    --border-color: var(--primary-grey);
    --border-color-invert: var(--primary-red);
    --glow-color: var(--primary-black);
    --shadow-color: var(--light-mode-shadow-color);
    --line-trace-color: var(--primary-grey);
    --content-fill-color: var(--primary-grey);
  }
  body.dark-theme {
    --background-color: var(--primary-black);
    --secondary-background-color: var(--secondary-black);
    --text-color: var(--primary-white);
    --text-color-invert: var(--primary-black);
    --text-color-major: var(--primary-red);
    --heighlight-color: var(--primary-red);
    --border-color: var(--primary-red);
    --border-color-invert: var(--primary-red);
    --glow-color: var(--primary-red);
    --shadow-color: var(--dark-mode-shadow-color);
    --line-trace-color: var(--primary-red);
    --content-fill-color: var(--primary-grey);
  }
}

/* Disable all animations */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
